body{
	margin: 0;
	padding: 0;
}
.container{
	background-image: url('image/bg.jpg');
	background-size: 100% 100%;
	width: 100%;
	height: 580px;
    color: black;
}
.container h1{
	margin: 0;
	text-align: center;
	padding-top: 280px;
	letter-spacing: 3px;
	animation: 1s slide ease-in-out;
}
#text-slide{
	display: block;
	text-align: center;
	margin-top: 15px;
	animation: 2s slide-text ease-in-out;
}
.nav{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
	text-shadow: 2px 2px 3px gray;
	background-color: #332e30;
	opacity: 0.6;
	color: white;
	position: fixed;
	width: 100%;
}
.nav li{
	padding: 20px;
	display: inline-block;
	cursor: pointer;
}
.nav li a{
	color: white;
	text-decoration: none;
}
.nav:hover{
	opacity:0.8;
}
.nav li:hover{
	font-size: 17px;
}
@keyframes slide{
	0%{
		letter-spacing: 10px;
	}
	50%{
		letter-spacing: 8px;
	}
	100%{
		letter-spacing: 4px;
	}

}
@keyframes slide-text{
	0%{
		position: relative;
		bottom: -20px;
	}
	50%{
		bottom: 30%;
	}
	80%{
		bottom: 40%;
	}
	100%{
		bottom: 30%;
	}

}
#service h2{
	text-align: center;
}
#service p{
	padding: 10px 60px;
}
.card{
	width: 45%;
	height: auto;
	border: 1px solid gray;
	box-shadow: 2px 3px 4px black;
	margin: 10px;
	border-radius: 40px 100px 40px 100px;
	float: left;
	margin-left: 40px;
}
.card .card-header{
	text-align: center;
	height: 150px;
	border: 1px solid gray;
	background-color: #35254f;
	border-radius: 40px 100px 40px 100px;
}
.card-body{
	padding: 20px;
	height: 150px;
}
.card-header h2{
	padding-top: 30px;
}
.card-header:hover{
	background-color: black;
	color: white;
}
.card-group{
	margin-top: 20px;
}
.card-group h2{
	text-align: center;
}
.training-card{
	display: inline-block;
	width: 30%;
	height: 350px;
	border: 1px solid gray;
	margin: 10px 15px;
	background-color: white;
}
.training-header{
	height: 80px;
	text-align: center;
	border: 1px solid gray;
}
.training-body{
	padding: 30px;
}
.training{
	text-align: center;
	background-color: #35254f;
	clear: both;
}
#training-head{
	padding-top: 50px;
	color: white;
}
.training-card:hover{
	box-shadow: 2px 2px 3px gray;
}
.training-body button{
	display: inline-block;
	width: 100px;
	height: 40px;
	background-color: white;
	color: #35254f;
	border: 1px solid black;
	border-radius: 30px;
	margin-top: 20px;
}
.training-body button:hover{
	background-color: #35254f;
	color: white;
	cursor: pointer;
}
.contact-box{
	width: 25%;
	height: 100px;
	background-color: #efefef;
	padding: 20px;
	margin-left: 20px;
	display: inline-block;
}
.contact{
	text-align: center;
	padding: 20px 0;
}
footer{
	background-color: #35254f;
	height: 45px;
	text-align: center;
	color: white;
	line-height: 45px;
}